#banner {
	.btn_banner {
		@include background-image(linear-gradient(#3b404b, #2d313a));
		@include border-radius(20px);
		@include box-shadow(rgba(0, 0, 0, .5) 0 0 3px);
		background-color: $primary_color;
		text-align: center;
		color: $accent;
		padding: 3px 15px;
		font-size: 15px;
		a { color: white; }
		a:hover { color: $secondary_color; };
	}

	position: relative;
	background: $accent url('/wpsmith/wp-content/themes/smithenterprises/images/banner.jpg') no-repeat center;
	height: 300px;
}

.no-cssgradients {
	.btn_banner {
		background-color: $primary_color;
		border: 1px solid $secondary_color;
	}
}

#banner .container { position: relative; }

// Banner Action Items
#appointments {
	position: absolute;
	top: 20px;
	left: 25px;
}

#appointments .btn_banner {
	position: absolute;
	top: 230px;
	left: 10px;
}

#tracktaxes {
	position: absolute;
	top: 40px;
	left: 310px;
}

#tracktaxes .btn_banner {
	position: absolute;
	top: 210px;
	left: 100px;
	width: 120px;
}

#downloadforms {
	position: absolute;
	top: 30px;
	left: 745px;
}

#downloadforms .btn_banner {
	position: absolute;
	top: 220px;
	left: 8px;
}

// Email Signup
#banner_action_area {
	h2, h3 { @extend .container; margin-bottom: 0; padding: 0; }
	h2 { font-size: 24px; margin-bottom: -3px; }

	h3 { 
		color: $accent; 
		font-size: 22px; 
	}

	border-bottom: 1px solid #DDD;
	background-color: $secondary_color;
	color: $accent_secondary;
	padding: 10px;
	overflow: hidden;
	position: relative;
}

#banner_action_area form {
	input { float: left; }

	.input {
		height: 35px; 
		width: 300px;	
		color: lighten($primary_color, 50%);
		padding-left: 10px;
	}

	.submit {
		margin-left: 5px;
		padding: 0 10px;
		height: 45px;
		color: $accent_secondary;
		background-color: $tertiary_color;
		border: none;
	}

	float: right;
	margin: -58px 0 5px 0;
	width: 399px;
	padding: 5px;
	background-color: darken($secondary_color, 5%);
	@include border-radius(3px);
}

#tracklinks {
	display: none;
}