#fat_footer {
	.address {
		p { font-size: 18px; line-height: 20px; }

		float: left;
		width: 280px;
	}

	h2 { color: lighten($primary_color, 25%); }

	margin-top: 20px;
	padding-top: 20px;
	background-color: lighten($primary_color, 5%);
	min-height: 285px;
	color: lighten($primary_color, 25%);
}

#skinny_footer {
	padding: 10px 0 3px 0;
	background-color: $primary_color;
	color: $accent_secondary;
}