.wpcf7 {
	#message { 
		.wpcf7-not-valid-tip { left: 255px; width: auto; }
		float: right; 
	}

	#message_info { float: left; }
	textarea { height: 104px; width: 320px; }
	.wpcf7-form-control-wrap input {width: 275px;}
	div.wpcf7-validation-errors { border: none; }

	div.wpcf7-response-output { 
		margin: 0;
		padding: 0; 
	}

	.wpcf7-not-valid-tip {
		border: none;
		background: none;
		top: -29px;
		left: 210px;
		color: red;
	}

	div.wpcf7-mail-sent-ok { 
		border: none; 
		width: 300px;
		clear: both;
	}

	width: 650px;
	float: right;
}
