.col1 {
	width: 170px;
	float: left;
	padding-right: 33px;
}

.col2 {
	width: 380px;
	float: left;
}

//.container { width: $width; }

div.tax_links {
	margin: 0 0 15px 0;
	padding-bottom: 25px;
	border-bottom: 1px dashed darken($accent, 10%); 
	h2 { margin: 0; }
}

div.newsletter {
	img {
		float: left;
		padding-right: 10px;
	}
	overflow: hidden;
}

.sidebar_item {
	margin-bottom: 20px;
}

.clear { clear: both; }