#nav_wrapper {
	#logo {
		float: left;
		font-size: 24px;
		a { color: $accent; }
	}

	#nav {
		li {
			display: inline;
			font-size: 15px;
			margin: 0;
			padding-left: 20px;
			a { color: $accent_secondary;}
		}
		padding-top: 5px;
		float: right;
	}
	padding: 10px;
	background-color: $primary_color;
}

#sub_nav_bg {
	li {
		list-style-type: none;
		display: inline;
	}
	padding: 10px 0  1px 0;
	background-color: $secondary_color;
	min-height: 32px;
}

.sub-menu {
	display: none;
}

#subnav {
	width: 100%;
	padding-bottom: 10px;
	a { color: $accent; }
	li { padding-right: 15px; font-size: 15px; }
}