body { 
	color: darken($accent, 45%); 
}

h1, h2, h3, h4, h5, h6 { 
	margin-bottom: 10x;
	padding-bottom: 10px;
	color: $tertiary_color; 
}

body.page {
	#main h2 { margin: 20px 0 0 0; }
}

.sidebar_item { 
	h1, h2, h3, h4, h5, h6 { 
		border-bottom: 3px double darken($accent, 10%); 
		margin-bottom: 15px;
	}
}

p, li { font-size: 14px; }

p { line-height: 170%; }

.intro_text { 
	padding-bottom: 15px;
	border-bottom: 1px dashed darken($accent, 10%); 
}

a { color: $secondary_color; }
a:hover { color: $tertiary_color; text-decoration: none; }

li {
	padding-bottom: 7px;
	line-height: 140%;
	list-style-position: inside; 
}

ul { 
	margin: 0; 
	padding: 0; 
}

.col1 li { list-style-type: none; }

// Table Styles
table {
	font-size: 13px;
	overflow: hidden;
}

td { 
	border-bottom: 1px solid darken($accent, 10%);
	padding: 8px;
	vertical-align: top; 
}

tr.odd { background-color: darken($accent, 3%); }
td:first-child { width: 120px; border-right: 1px solid #DDD; }

.copyright { color: lighten($primary_color, 15%); }