@import 'compass_twitter_bootstrap';
@import 'partials/vars';
@import 'partials/normalize';
@import 'partials/html5bp';
@import 'partials/typography';
@import 'partials/layout';
@import 'partials/navigation';
@import 'partials/banner';
@import 'partials/content';
@import 'partials/footer';
@import 'partials/appointment';
@import 'partials/bootstrap_forms';
@import 'partials/forms';
@import 'compass/css3';

body { 
	background-color: $accent; 
}

// Content Styles
#newsletter .btn {
	a { 
		font-weight: normal;
		@include text-shadow(rgba(255, 255, 255, 1));
	}
	margin-top: 10px;
}

.btn-success a {
	color: white;
}

#pdf_downloads {
	h3 {
		margin: 0 auto;
		padding: 5px 10px;
		color: $accent_secondary;
		text-align: right;
		width: 270px;
		background-color: $primary_color;
	}

	li { 
		@include background( image-url('/wpsmith/wp-content/themes/smithenterprises/images/icon_plus.png'), linear-gradient(#fff, #eee));
		margin: 1px 0;
		padding: 10px 0 8px 40px;
		list-style-type: none; 
		background-repeat: no-repeat;
		background-position: left center;
	}

	ul {
		padding: 5px;
		border: 2px solid #ddd;
		background-color: darken($accent, 4%);
	}

	img {
		position: absolute;
		top: -13px;
		left: 30px;
		z-index: 9999px;
	}
	width: 330px;
	margin-top: 20px;
	position: relative;
}

.no-cssgradients {
	#pdf_downloads li {
		background: url(/wpsmith/wp-content/themes/smithenterprises/images/icon_plus.png) left center no-repeat;
		border-bottom: 1px solid #DDD;
	}
}
